.upload__input {
  @apply hidden;
}

.field {
  @apply my-4 flex  gap-2;
}

.label {
  @apply cursor-pointer hover:border transition border-gray-700 w-24 h-24 text-center flex items-center justify-center gap-1 text-sm rounded-lg bg-gray-200 text-gray-500;
}

.uploadImageContainer {
  @apply w-36 h-36;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  height: unset !important;
}
